body {
    background-color: rgb(251, 201, 240);
}
h1 {
    font-size: 2.5em;
    text-align: center;
    margin-top: 20px;
    font-family: 'Georgia', serif;
    color:rgb(122, 7, 137);
}
img {
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a{
    color: rgb(194, 79, 150);
    text-decoration: none;
}
a:hover{
    color: rgb(174, 49, 178);
    text-decoration: none;
}